<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        .card-img-top {
            width: 100%;
            height: 15vw;
            object-fit: cover;
        }

        [v-cloak] {
            display: none;
        }
    </style>
    <title>Burgers-Venue</title>

</head>
<body>
<div class="container pt-1" id="app" v-cloak>
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar-brand">Burger Joints</div>
    </nav>


    <div v-if="loading">
        <loader/>
    </div>

    <div v-else-if="venues.length">
        <div class="row row-cols-1 row-cols-md-3 pt-2">
            <div class="col mb-4" v-for="venue in venues">
                <div class="card">
                    <img :src="venue.photoUrl" class="card-img-top" alt="No image">
                    <div class="card-body">
                        <h5 class="card-title">{{venue.name}}</h5>
                        <p class="card-text">{{venue.location.state}}</p>
                        <button class="btn btn-primary" @click="viewOnMap(venue.location)">View on map</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p v-else>No venues</p>

</div>

<script src="js/main.js"></script>
</body>
</html>